.carousel {
  position: absolute;
  width: 400vw;
  height: 100vh;
  display: flex;
  transition-property: left;
  transition-duration: 600ms;
  transition-timing-function: ease-out;
}

.prev,
.next {
  position: fixed;
  top: 50%;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}
